html,body {margin: 0; padding: 0; width: 100%;}
body {font-family: 'Open Sans', sans-serif;}
section {overflow: auto;} main {margin-top: 70px;}

.heading, .work-head, .hidden-info, #resume a, .proj-info h1  {font-family: 'Roboto', sans-serif;}
nav {display: flex; justify-content: space-between; align-items: center; padding-top: 20px; height: 50px; background-color: #ffffffde; 
  position: fixed; width: 100%; z-index: 2; transition: top 0.5s ease;}

.name {font-size: 1.8em; color: #9F9F9A;font-weight: 600; margin-left: 5%; letter-spacing: 1px;}
.nav-list-cont, .burger {margin-right: 5%;}
.nav-links {list-style: none; margin: 0; padding: 0; display: flex;}
.nav-links li { margin: 15px; }
.nav-links li a {text-decoration: none; font-size: 1.3em; color: #9F9F9A; font-weight: 600;}

.nav-links li a::after {content: ''; display: block; width: 0; height: 2px;
background: #9F9F9A; transition: width .3s;}
.nav-links li a:hover::after  {width: 100%; transition: width .3s;}

.burger {display: none; cursor: pointer; z-index: 2;}
.burger div {width:28px; height: 3px; background-color: #9F9F9A; margin: 5px; border-radius: 5px; transition: all 0.3s ease;}

.asset {position: absolute; height: 95vh; width: 100%; margin-left: 0px; z-index: -1;}
.front {height: 125%;} .mid {height: 105%;}
#main-img {min-height: 95vh; position: relative; overflow: hidden;}
#wrap {overflow-x: hidden; position: relative; height: 100%;}

#text {
  background-color: #F8FCFF; width: 400px; text-align: justify;
  padding: 1.5%; border-radius: 40px; color: #9F9F9A; order: 0;
}

.heading {font-size: 2.8em; margin: 60px 0 65px 10%; color: #ACCFE2; position: relative;} 
.heading hr { border: 0; border-top: 3px solid #ACCFE2; position: absolute; bottom: -30px;}
#about-content {display: flex; justify-content: space-around; margin-bottom: 30px;}
#circ-container {padding-top: 30px;}

.circ {height: 300px; width: 300px; background-color: #B3D2E3; border-radius: 50%; display: inline-block; position: relative;}

.outer { height: 300px; width: 300px; border-radius: 50%; display: inline-block; position: absolute; z-index: -1;
  border: 3px solid #B3D2E3; top: 5px; left: 35px; }

.gradient { background: -webkit-linear-gradient(#b3d3e3, #7c9a9a); -webkit-background-clip: text; -webkit-text-fill-color: transparent;}

#about .heading hr {width: 150px;  left: 25px;}
#experience .heading hr {width: 170px; left: 25px;}
#work .heading hr {width: 90px; left: 10px;}

#window { height: 70vh; overflow: auto; width: 80%; margin: -30px auto 50px; text-align: left;}

.work-container {background-color:#DFECF5; width: 95%; margin: 35px auto; box-shadow: 20px 12px 5px #F1F7FB;}
.work-head {font-size: 1.8em; font-weight: bolder; color: #ACCFE2; display: inline-block; background-color: white; padding: 5px; margin: 15px 0 0 20px;}
.date {display: inline-block; margin-left: 20px; color: #5B809A; font-size: 18px;}
.role {color:#819DB0; margin-top: 0; margin-left: 25px; font-size: 18px;}
.expand {float: right; font-size: 25px; margin: 20px 20px 0 0; color: #A6BAC9; cursor: pointer;}
.hidden-info {max-height: 0; overflow: hidden; transition: max-height 0.3s ease-in-out; color: #4F758F; font-weight: 100; text-align: justify;}
.hidden-info p { padding: 0 25px 20px;}
.hidden-info ul  {padding: 0 45px 20px;}
#experience a {color: #6a9ab9; text-decoration: none;}
#experience a:hover {text-decoration: underline;}

#experience ul { margin: 0.75em 0; list-style: none; }
#experience li:before {  content: ""; border-color: transparent #111; border-style: solid; border-width: 0.35em 0 0.35em 0.45em;
  display: block; height: 0; width: 0; left: -1em; top: 0.9em; position: relative; }

#resume {text-align: center; margin-bottom: 30px;}
#resume a {border: 2px solid #94afc1; padding: 10px; font-size: 20px; border-radius: 5px; font-weight: 300;}
#resume a:hover {background-color: #94afc1; text-decoration: none; color: #dfecf5; transition: background-color 0.5s ease-in-out;}

.project {display: flex; justify-content: center; width: 80%; margin: 0 auto 100px;}
.project:first-of-type {margin-bottom: 200px;}
.image {background-color: #E9F1F6; width: 45%; height: 350px;}
.desktop .image {background-color: transparent;}
.desktop .image img {width: 100%; box-shadow: 8px 6px 5px #d5dfe4}
.iphone {width: 150px; border-radius: 10px;}

.images {text-align: center;} .glide__slide {filter: blur(6px); opacity: 0.7; transition: .3s linear;}
.glide__slide--active {opacity: 1; filter: none; transform: scale(1.1);}
.glide__arrow {top: 10% !important;}

.proj-info {width: 55%;  position: relative;}
.proj-info h1 {color: #AEBDC6; font-size: 2em; font-weight: bold;}
.description {background-color: #ccdae2; padding: 15px; color: white; position: absolute; right: 0; width: 105%;}
.description ul {position: absolute; width: 100%; list-style: none; display: flex; right: 0; justify-content: flex-end; color: #899BA6; padding-top: 20px;}
.description ul li {font-size: 14px; padding: 0 10px;}

.github {margin-top: -5px; cursor: pointer;}
.github img:hover, footer img:hover { filter: saturate(2); }

.right-text {text-align: right;} .left-text {text-align: left;}
.left, .left .github {order: -1;} .left .description {left: 0;} .left ul {justify-content: flex-start;} 

.other-head {text-align: center; color: #6E8B9D; font-size: 2.2em;}
#skills {margin: 50px 50px 0; }
.skill-container {padding: 0; list-style: none; color: #4A5E6A; font-weight: lighter; font-size: 1.25em; text-align: center;}
.skill-container li {border: 2px solid #7194A9; padding: 6px 10px; border-radius: 10px; display: inline-block; margin: 5px;}

#courses {text-align: center; margin-bottom: 70px;}
#courses ul { list-style-type: none; padding: 0; display: inline-block; overflow: hidden; font-weight: 100;}

.dropbtn { display: inline-block; color: #475F6F; text-align: center; text-decoration: none;
  min-width: 250px; padding: 10px; font-size: 18px; background-color: #E8EDF0; }

.dropdown:hover .dropbtn { background-color: #D9E5EC;}

#courses li.dropdown { display: inline-block; vertical-align: top;}

#courses .dropdown-content { display: none; background-color: #F3F9FC;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1; font-size: 14px; padding: 10px 0;}

#courses .dropdown-content a { padding: 16px 0  16px 30px; color: #536B7A; text-decoration: none; display: block; text-align: left;}
.link:hover{text-decoration: underline!important;}
#courses .dropdown:hover .dropdown-content { display: block; margin-bottom: 20px;}

footer img {width: 60px; margin: 0 20px; cursor: pointer;}
footer {text-align: center; margin-bottom: 40px;}
footer div {margin-bottom: 25px;}
footer p {font-weight: 100; color: #536B7A;}

@media only screen and (max-width: 600px) {
  .asset {width: 185%;}
  .burger {display: block;}
  .nav-links { z-index: 1; position: absolute; right: 0; height: 100vh; top: 0; background-color: #00000085; display: flex;
    flex-direction: column; align-items: center; justify-content: space-around; width: 50vw; transform: translateX(100%);}

  .nav-links li {opacity: 0;}
  .nav-active {transform: translateX(0%);}

  .toggle .line1{transform: rotate(-45deg) translate(-5px, 6px);}
  .toggle .line2{opacity: 0;}
  .toggle .line3{transform: rotate(45deg) translate(-5px, -6px);}
  .transition {transition: transform 0.5s ease-in;}

  @keyframes navLinkFade {
    from {opacity: 0; transform: translateX(50px);}
    to {opacity: 1; transform: translateX(0px);}
  }
  .nav-links li a {color: #ACCFE2;}
  .nav-links li a::after {background: #ACCFE2;}
  .fixed {overflow-y: hidden;} 
  .image {width: 60%;}
  .proj-info h1 {font-size: 1.6em;}
}

@media only screen and (max-width: 840px) {
  #about, #experience, #work {text-align: center;}
  #about-content {flex-direction: column;} 
  #text {margin: auto;} 
  #text {order: 1; margin-top: 50px; width: 80%; padding: 2%;}
  .heading {display: inline-block; margin-left: 0;}
}
@media only screen and  (min-width: 841px) and (max-width: 970px) {#circ-container {margin-right: 3%;}}
@media only screen and (max-width: 750px) {.date{display: block;} .expand {margin-top: -100px;} }
@media only screen and  (min-width: 601px) and (max-width: 845px) { .asset {width: 160%;}}
@media only screen and  (max-width: 850px)  { #courses ul {width: 80%;}   #courses li.dropdown {display: block;}
.dropbtn {width: 100%;}  .description {font-size: 14px; text-align: left;}
}
@media only screen and  (min-width: 846px) and (max-width: 1000px) {.asset {width: 140%;}}
@media only screen and  (min-width: 1001px) and (max-width: 1200px) {.asset {width: 120%;}}
@media only screen and  (min-width: 1201px) and (max-width: 1400px) {.asset {width: 110%;}}
@media only screen and (max-width: 450px) { 
  .nav-links {width: 60vw;} 
  .asset {width: 240%; margin-left: -100px;} 
  .circ, .outer {width: 250px; height: 250px;}
  .date {font-size: 15px; margin-left: 25px;}
  .work-head {font-size: 1.5em;}
  .expand {margin-top: -50px;}
  .project {width: 95%;} 
  .proj-info h1 {font-size: 1.5em;}
  .skill-container {font-size: 15px;}
  .dropbtn {font-size: 1em;}
  #courses .dropdown-content, footer p {font-size: 14px;}
  footer img {margin: 0 10px; width: 50px;}
  .description ul li {font-size: 11px;}  .description p {font-size: 13px;}
  .project.desktop {margin-bottom: 0px;}
}
@media only screen and (max-height: 350px) {.asset {height: 185vh;} #main-img {min-height: 185vh;}}
@media only screen and (min-height: 351px) and (max-height: 550px) {.asset {height: 150vh;} #main-img {min-height: 150vh;}}